@import '../../../styles/variables.scss';

.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .subContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    .tableContainer {
      transition: all linear 0.2s;
      will-change: width, opacity;
      height: fit-content;
    }

    .weatherCardContainer {
      backdrop-filter: blur(20px);
      transition: all linear 0.2s;
      will-change: width, opacity;
      height: fit-content;
    }
  }
}