@import '../../../styles/variables.scss';

.tableContainer {
  width: 100%;
  transition: height linear 0.2s;
  will-change: height;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;

  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    thead {
      tr {   
        th {  
          padding: 20px 0px;
          background-color: #14121ab8;
        }
      }
    }

    tbody {
      tr {
        position: relative;

        td {
          padding: 20px 0px;
          border-bottom: 1px solid $border;
          transition: background-color linear 0.2s;
        }

        .buttonContainer {
          width: 100%;
          display: flex;
          justify-content: center;

          .button {
            width: 30px;
            height: 30px;
            padding: 0px;
            border-radius: 8px;
          }
        }
      }
    }
  }
 
  .loadingBackdrop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000032;
  }
}

.spinner {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}