// Breakpoints
$phone: 576px;
$tablet: 768px;
$large-tablet: 900px;
$small-desktop: 1150px;
$normal-desktop: 1600px;

// Fonts
$red-hat: 'Red Hat Display', sans-serif;
$roboto: 'Roboto', sans-serif;
$roboto-mono: 'Roboto Mono', monospace;

//Colors
$primary: #d7ad6e;
$primary-2: #ebc998;
$secondary: #4a4e69;
$gray: #696E79;
$white: #fafafa;
$black: #000000;
$border: #ffffff35;
