@import '../../../styles/variables.scss';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all linear 0.2s;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.434);
  backdrop-filter: blur(15px);

  .modalContainer {
    width: calc(100% - 40px);
    max-height: 80dvh;
    overflow: auto;
    transition: transform ease 0.2s;
    will-change: transform;

    &::-webkit-scrollbar {
      background-color: 'transparent';
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ffffff57;
      border-radius: 8px;
      background-clip: padding-box;
      border: 4px solid #ffffff57;
    }

    &::-webkit-scrollbar-corner {
      background: transparent;
    }
  }
}