@import_normalize;
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600;700&display=swap');
@import url('https: //fonts.googleapis.com/css2?family=League+Gothic&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: 'transparent';
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff57;
  border-radius: 8px;
  background-clip: padding-box;
  border: 4px solid #ffffff57;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  max-width: 1280px;
  margin: auto;
  background-color: #22223b;
  background-image: url(/src/assets/images/mountains4.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.home-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0px 60px 60px 60px;

  @media screen and (max-width: 900px) {
    padding: 0px 40px 40px 40px;
  }

  @media screen and (max-width: 576px) {
    padding: 0px 20px 20px 20px;
  }
}